.hero-section {
  font-family: 'Playfair Display', serif;
  position: relative;
  text-align: center;
  padding: 150px 20px;
  color: #fff;
  margin-top: 73px;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  margin-bottom: 30px;
}

.hero-content button {
  padding: 12px 25px;
  font-size: 18px;
  background-color: #725CAD;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-content button:hover {
  background-color: #6c6dab;
}
